body{
  background-color: 'white';
  padding: 0% 10%;
}

.add-button{
  justify-content: right ;
  color:"blue" !important;
}
.firstRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}